.container{
max-width: 90vw;
margin-left: auto;
margin-right: auto;
display:flex;
align-items: center;
justify-content: center;
padding-top: 200px;
}

.flex{
display:flex;
flex-direction: row;

}
.non-num{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 16px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.sign{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 16px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.num{
    border-style: solid;
border-width: 1px;
border-color: black;
padding: 16px;
font-size: 24px;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
cursor: pointer;

}
.non-num:hover{
    background-color: lightseagreen;
}
.sign:hover{
    background-color: lightseagreen;
}
.num:hover{
    background-color: lightseagreen;
}

.result-div{
padding: 10px;
border-style: solid;
border-width: 1px;
border-color: black;
color: black;
font-size: 24px;
height: 60px;

}